

*{
    box-sizing: border-box;
    margin: 0;
    
}
body{

height: 1000vh;


}
.header{
    background-image: url(./img/home-contact-background-min.jpg);
    max-width: 100%;
    height: 100vh;
    background-repeat: no-repeat;

    background-position: center;
    background-position: right;
    background-size: cover;
}
.navbar{
    margin-left: 90px;
}
.btn{
    float: right;
    
    padding-top: 20px;   
    /* margin-left: 70px; */
    margin-right: 50px;
    
}
button{
    padding: 10px 10px;
    background-color: transparent;
    color: white;
    border: none;
    border: 1px solid yellow;
    border-radius: 20px;
    cursor: pointer;

}
li{
    
    float: right;
    padding: 20px 30px;
    padding-top: 30px;
    list-style-type: none;
  color: wheat;
}
a{
    font-weight: bold;
    color: white;
    text-decoration: none;
}
#rap{
    color: whitesmoke;
    /* margin-left: 110px; */
    padding-right: 180px;
    font-size: large;
}

.heading{
    padding-top: 200px;
    color: white;
    padding-left: 250px;
}


#get{
    margin-left: px;
    margin-top: 40px;
    text-align: center;
    background-color: orange;
    background-color: transparent;   
}

#get:hover{
    background-color: yellow;
    font-style: italic;
}

button:hover{
background-color: yellow;
font-style: italic;
color: black;
}

div h1{ 
    line-height: 43px;
    padding-bottom: 60px;
    padding-top: 30px;
}

.container{
   background-color:  hsl(0, 0%, 96%);
   height: 80vh;
}
.domain{
    text-align: center;
    padding-top: 50px;
}

#p1{
    color: blue;
    padding-top: 10px;
}

#p2{
    /* padding-top: 20px; */
    line-height: 2px;
}

.input{
    text-align: center;
    /* padding-top: 90px; */
    margin-top: 90px;
    /* border: 1px solid black; */
}
#place{
    padding: 20px 60px;
    /* border: 2px solid black; */
}

#label{
    border: none;
    /* border: 1px solid aqua; */
    padding: 20px 60px;
    background-color: forestgreen;
}

.para{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.para p{
    
    text-align: center;
    padding: 50px 20px;
}
#com{
    color: red;
}
.container1{
    height: 100vh;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.icons{
    padding: 40px 0;
    box-shadow: 10px 9px 9px gainsboro;
    width: 30%;
    height: 70vh;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    /* margin-top: 120px; */
    text-align: center;
    margin: 90px 60px;  
}
#setting{
   padding-top: 40px;
}
/* .container2{
    max-width: 100%;
} */

    

.icons:hover{
    color: white;
    background-color: black;
    transition: 1s;
}
.icons p{
    margin-top: -2.4em;
    line-height: 35px;
}

.icons i{
    color: darkgreen;
    font-size: 50px;
}

.fun:hover{
    color: black;
    font-size: 22px;
    font-style: italic;
}
.system:hover{
    background-color: rgb(52, 35, 35);
    color: white;
    transition: 1s;
}
.cms:hover{
    color: slategray;
    font-size: 20px;
}
.ser{
    margin-top: 150px;
    align-items: center;
}
 .im1:hover{
    background-color:brown;
    color: whitesmoke;
    transition: 1s;
} 
footer:hover{
    color: darkslategray;
}
.ser p{
    text-align: center;
}
.ser h1{
    text-align: center;
}
.container2{
    width: 100%;
    margin: 0;
    background-color:  hsl(0, 0%, 95%);
}
.price{
    text-align: center;
    margin-bottom: 80px;
    padding-top: 80px;
}
.price p{
    color: forestgreen;

}
.img2{
    
}
 .img2 img{
    
    height: 90vh;
    padding: 0 70px;
    
}
.img{
    text-align: center;
    
}
.container3{
    
    background-image: url(./img/bg-size-cover.png);
   max-width: 100%;
    height: 100vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.fun{
    
    text-align: center;
    padding-top: 60px;
    font-size: 17px;
    font-weight: bolder;
    color: whitesmoke;
}
.fun p{
    
    margin-top: -1.9em;
    /* line-height: 1000px; */
    /* line-height: 0.2px; */
}
.inner{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
  
}
.inner div{
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    padding: 0 100px;
    font-weight: bolder;
    color: whitesmoke;
}
.cms  p{
    margin-top: -2.5em;
}
.container4{
    background-color:  hsl(0, 0%, 97%);
    height: 170vh;
    max-width: 100%;
}
.h1{
    text-align: center;
    padding-top: 100px;
}
.inner1{
    display: flex;
    padding-top: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0px 30px;
}
.inner1 div{
    background-color: white;
    margin: 0 40px;
    /* padding: 0 100px; */
    /* border: 1px solid black; */
    /* height: 350px; */
    width: 25%;   
}
.para1{
    margin-top: 60px;
    font-weight: bolder;
    opacity: 0.7;
    font-style: italic;

}


.system{
    height: 380px;
    box-shadow: 10px 10px 8px gainsboro;
}
.system h1 {
    margin-bottom: -1.5em;
    padding-top: 70px;
}
.system h1 {
    font-weight: bolder;
    font-style: italic;
}


.img3{
    background-image: url(./img/images.jpg);
    height: 100px;
    width: 100px;
    position: relative;
    top: -50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.cir{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}
.circle{
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #ccc;
    margin-right: 20px;
    border-radius: 50%;
}
.container5{
    max-width: 100%;
    height: 150vh;
    background-color:  hsl(0, 0%, 99%);

}
.span{
    color: green;
}
#vps1{
    background-color: green;
    color: white;
}
.vps{
    color: rgb(23, 74, 23);
    padding: 15px 15px;
    border: 1px solid rgb(44, 249, 44);
    text-align: center;
    margin: 20px 70px;

}
.task1{
    padding-top: 100px;
    text-align: center;
}
.task2{
    text-align: center;
}
 /* img{
    width: 50%;
    height: 40vh;
} */
/* image{
    width: 50%;
    height: 40vh;
} */
.img4 img{
    /* margin-left: 30px; */
    /* margin-top: 20px; */
}
.inner4{
    justify-content: center;
    display: flex;
}
.img4{
    box-shadow: 8px 9px 9px gainsboro;
    text-align: center;
    float: left;
    margin-top: 80px;
    margin-left: 30px;
}
.host{
    box-shadow: 9px 10px 10px gainsboro;

    margin-left: 60px;
    margin-top: 90px;
    text-align: center;
    float: left;
    /* border: 1px solid black; */
    /* padding: 40px 0; */
    padding-bottom: 70px;
    padding-top: 20px;
    background-color: white;
}
.host:hover{
    background-color: black;
    color: white;
    transition: 1s;
}
.container6{
    max-width: 100%;
    height: 90vh;
    background: rgb(1, 179, 119);   
}
.inner6{
    text-align: center;
    padding-top: 100px;
}
.inner6 h1 {
    color: white;
}
.inner6 p{
    color: #ccc;
}

.btn3{
    padding-left: 40px;
    margin-top: 60px;
    padding-right: 60px;
    border: 2px solid white;
}
#search1{
    padding-left: 30px;

}
.container7{
   max-width: 100%;
    height: 180vh;
    background-color:  hsl(0, 0%, 97%);
}
.inner7{
    text-align: center;
    padding-top: 120px;
    
}
.inner7 h2{
    padding-top: 40px ;
    padding-bottom: 20px;
}
#blogs{
    color: rgb(10, 241, 233);
}
.img6{
    display: flex;
    /* height: 60vh; */
    
    
}
.img6 .im1{
    margin: 100px 30px;
}
.img6 img{
    text-align: center;
    width: 100%;
    height: 55vh;
}
.im1{
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* border: 1px solid black; */
    box-shadow: 8px 9px 9px gainsboro;
}
.im1 h1{
    font-size: 20px;
}
#msg{
    padding: 10px;
}
.container8{
    background: rgb(3, 211, 207);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    height: 92vh;
    flex-wrap: wrap;
    max-width: 100%;
}
.inner8{
    float: left;
}
.inner8 p{
    margin: 20px 0;
}
#btn8{
    padding: 15px 15px;
    margin-top: 80px;
    border: 2px solid yellow;
    font-weight: bold;

    color: black;
    /* background-color: white; */
}


.inner9{
    
    float: left;
}
.inner9 p{
    margin: 35px 0;
}
.inner9 h1{
    margin-bottom: -1em;
}
.inner10{
    float: left;
}
.inner10 h1{
    margin-bottom: -1em;
}
.inner10 p{
    margin: 35px 0;
}
.inner11{
    padding-top: 45px;
    float: left;
}
.inner11 p{
    margin: 60px 0;
   
    text-align: center;
}
#icons2{
    padding-right: 10px;
}
.footer{
    position: absolute;
}
footer{
    position: relative;
    top: 85vh;
    color: white;
    font-size: 18px;
    font-style: inherit;
}
#label:hover{
    color: white;
    background-color: black;
    transition: 2s;
    
}

@media screen and (min-width: 320px) and (max-width: 576px) {
    *{
        margin: 0;
        gap: 0;
        box-sizing: border-box;
        max-width: 100%;
        
    }
  
    .header{
    
        
        background-image: url(./img/home-contact-background-min.jpg);
        max-width: 100%;
        max-height: 60vh;
        background-repeat: no-repeat;
    
        background-position: center;
        background-position: right;
        background-size: cover;
    }
    .navbar{
         
        max-width: 100%;
        height: 10px;
    }
    .btn{
        float: right;
        padding-top: 10px;   
        margin-right: 1px;
        
    }
    button{
        /* padding: 0px 6px; */
        padding: 3px 3px;
        margin: 0 4px;
        background-color: transparent;
        color: white;
        border: none;
        border: 1px solid yellow;
        border-radius: 7px;
        cursor: pointer;
    
    }
    ul{
        
    }
    li{
        
        float: right;
        padding: 1px 1px;
        padding-top: 8px;
        list-style-type: none;
        color: wheat;
    }
    a{
        font-size: 3px;
        font-weight: bold;
        color: white;
        text-decoration: none;
    }
    .raphead{
        max-width: 0px;
        padding-right: 10px;
        padding-top: 1px;
    }
  
    #rap{
        color: whitesmoke;
        /* margin-left: 1px; */
        /* padding-right: 1px; */
        font-size: 5px;
        /* float: right; */
    }
    
    .heading{
        padding-top: 30px;
        color: white;
        font-size: 10px;
        padding-left: 20px;
    }
    
    
    #get{
        margin-left: 1px;
        margin-top: 10px;
        text-align: center;
        background-color: orange;
        background-color: transparent;   
    }
    
    #get:hover{
        background-color: yellow;
        font-style: italic;
    }
    
    button:hover{
    background-color: yellow;
    font-style: italic;
    color: black;
    }
    
    .heading h1{ 
        line-height: 17px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
.container{
    padding: 50px 0;
    align-items: center;
    background-color:  hsl(0, 0%, 96%);
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
 }
 .domain{
     text-align: center;
     padding-top: 10px;
     max-width: 100%;
 }
 
 #p1{
     color: blue;
     padding-top: 40px; 
 }
 #get1{
    padding-top: -5em;
 }
 
 #p2{
  padding-bottom: 40px;
  font-size: 10px;
 }
 .domain1{
    padding: -3em 0;
 }
 
 .input{
     text-align: center;
     margin-top: 1px;
     max-width: 100%;
 }
 #place{
     padding: 10px 10px;
    
 }
 
 #label{
     border: none;
    padding-top: 1px;
     padding: 10px 10px;
     background-color: forestgreen;
 }
 
 .para{
    padding-top: 15px;
     display: flex;
     text-align: center;
     justify-content: center;
     align-items: center;
 
 }
 .para p{
     
     text-align: center;
     padding: 10px 10px;
 }
 #com{
     color: red;
     font-size: 14px;
 }
 .container1{
    max-height: 80%;
    display: flex;
    max-width: 100%;
    /* align-items: center; */
    justify-content: center;
}
.icons{
    padding: 10px 0;
    box-shadow: 10px 9px 9px gainsboro;
    max-width: 100%;

    max-height: 60%;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    /* margin-top: 120px; */
    text-align: center;
    margin: 90px 15px;  
}
#setting{
   padding-top: 0px;
}
.icons h1{
    font-size: 10px;
    
}

br{
    display: none;
}


    

.icons:hover{
    color: white;
    background-color: black;
    transition: 1s;
}
.icons p{
    margin-top: -3.4em;
    line-height: 14px;
}
.icons h1{
    margin-top: -3.4em;
    font-size: 8px;
    font-weight: bolder;
}

.icons i{
    color: darkgreen;
    font-size: 15px;
}

.system:hover{
    background-color: rgb(52, 35, 35);
    color: white;
    transition: 1s;
}

.ser{
    margin-top: 70px;
    align-items: center;
}


.ser p{
    text-align: center;
}
.ser h1{
    text-align: center; 
}
.container2{
    max-width: 100%;
    margin: 0;
    background-color:  hsl(0, 0%, 95%);
}
.price{
    text-align: center;
    margin-bottom: 80px;
    padding-top: 80px;
}
.flexbox{
    
 
}
.price p{
    color: forestgreen;

}
.img2{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}
 .img2 img{
    max-width: 100%;
    max-height: 40vh;
    padding: 0 0px;
    text-align: center;
    
    
}
.img{
    text-align: center;
    max-width: 100px;
}
 
    
}